{% extends "_layout.html.twig" %}
{% block title %}Actions{% endblock %}
{% block content %}

    {% set folder = folders.actions %}
    {% include '_header.html.twig' with {'folder': folder} %}

    <div class="table-responsive">
        <table class="table table-striped mb-0">
            <thead class="thead-dark">
                <tr>
                    <th>IconName</th>
                    <th colspan="4">Icon</th>
                </tr>
            </thead>
            <tbody>
                {% for icon in folder.icons %}
                {% set image = '<svg class="icon-color" role="img"><use xlink:href="images/' ~ folder.folder ~ '.symbols.svg#' ~ icon.identifier ~ '" /></svg>' %}
                <tr>
                    <td>
                        {{ icon.identifier }}
                    </td>
                    <td>
                        <span class="icon icon-size-small icon-state-default">
                            <span class="icon-markup">
                                {{ image }}
                            </span>
                        </span>
                    </td>
                    <td>
                        <span class="btn btn-icon btn-default">
                            <span class="icon icon-size-small icon-state-default">
                                <span class="icon-markup">
                                    {{ image }}
                                </span>
                            </span>
                        </span>
                        <span class="btn btn-icon btn-dark">
                            <span class="icon icon-size-small icon-state-default">
                                <span class="icon-markup">
                                    {{ image }}
                                </span>
                            </span>
                        </span>
                    </td>
                    <td>
                        <span class="btn btn-icon btn-default">
                            <span class="icon icon-size-small icon-state-default">
                                <span class="icon-markup">
                                    {{ image }}
                                </span>
                            </span>
                            Button Label
                        </span>
                        <span class="btn btn-icon btn-dark">
                            <span class="icon icon-size-small icon-state-default">
                                <span class="icon-markup">
                                    {{ image }}
                                </span>
                            </span>
                            Button Label
                        </span>
                    </td>
                    <td><a class="btn btn-sm btn-outline-dark" href="images/{{ folder.folder }}/{{ icon.file }}">File</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
