{% extends "_layout.html.twig" %}
{% block title %}Module{% endblock %}
{% block content %}

    {% set folder = folders.modulegroup %}
    {% include '_header.html.twig' with {'folder': folder} %}
    <div class="card-group-element card-group-element-columns-3">
        {% for icon in folder.icons %}
            <div class="card-group-element-item">
                <div class="card">
                    <div class="card-header">{{ icon.file|replace({'.svg': ''}) }}</div>
                    <div class="card-body text-center">
                        <span class="icon icon-size-default icon-state-default" title="{{ icon.file|replace({'.svg': ''}) }}">
                            <span class="icon-markup">
                                {{ icon.inline }}
                            </span>
                        </span>
                    </div>
                    <div class="card-body text-center text-white bg-dark">
                        <span class="icon icon-size-default icon-state-default" title="{{ icon.file|replace({'.svg': ''}) }}">
                            <span class="icon-markup">
                                {{ icon.inline }}
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <hr class="my-5">

    {% set folder = folders.module %}
    {% include '_header.html.twig' with {'folder': folder} %}
    <div class="card-group-element card-group-element-columns-4">
        {% for icon in folder.icons %}
            <div class="card-group-element-item">
                <div class="card">
                    <div class="card-header">{{ icon.file|replace({'.svg': ''}) }}</div>
                    <div class="card-body text-center">
                        <span class="icon icon-size-mega icon-state-default" title="{{ icon.file|replace({'.svg': ''}) }}">
                            <span class="icon-markup">
                                <img src="images/{{ folder.folder }}/{{ icon.file }}" height="64" width="64">
                            </span>
                        </span>
                        <hr>
                        <span class="icon icon-size-default icon-state-default" title="{{ icon.file|replace({'.svg': ''}) }}">
                            <span class="icon-markup">
                                <img src="images/{{ folder.folder }}/{{ icon.file }}" height="32" width="32">
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
