{% extends "_layout.html.twig" %}
{% block title %}{{ category.title }}{% endblock %}
{% block content %}

    <nav>
        <ul class="breadcrumb mb-0 text-muted bg-transparent p-0">
            <li class="breadcrumb-item"><a href="{{ pathPrefix }}index.html">Home</a></li>
            <li class="breadcrumb-item">{{ category.title }}</li>
        </ul>
    </nav>

    <div class="d-flex mb-4">
        <h2 class="mb-0">{{ category.title }}</h2>
        <form class="d-flex flex-nowrap ml-auto">
            <label for="search" class="sr-only">Search for icons</label>
            <input class="form-control search mb-0" id="search" placeholder="Start typing to filter..." autocomplete="off">
        </form>
    </div>

    <div class="icongrid" id="iconlist">
        {%- for iconIdentifier in category.icons -%}
            {%- set icon = icons[iconIdentifier] -%}
            <a class="icongrid-item bg-light" data-type="icon" data-identifier="{{ icon.identifier }}" data-search="{{ icon.identifier }} {{ icon._meta.alias|join(' ') }} {{ icon._meta.tags|join(' ') }}" href="{{ pathPrefix }}icons/{{ category.identifier }}/{{ icon.identifier }}.html" title="{{ icon.identifier }}">
                <span class="icon icon-size-default icon-state-default{% if category.rendering.spinning %} icon-spin{% endif %}">
                    {%- if not category.rendering.overlay -%}
                        <span class="icon-markup">
                            {%- include '_symbol.html.twig' with { icon: icon } -%}
                        </span>
                    {%- else -%}
                        <span class="icon-markup">
                            <img src="{{ pathPrefix }}dist/svgs/apps/apps-pagetree-page.svg">
                        </span>
                        <span class="icon-overlay">
                            {%- include '_symbol.html.twig' with { icon: icon } -%}
                        </span>
                    {%- endif -%}
                </span>
            </a>
        {%- endfor -%}
    </div>

{% endblock %}
