{% extends "_layout.html.twig" %}
{% block title %}{{ section.title }}{% endblock %}
{% block content %}

    <nav>
        <ul class="breadcrumb mb-0 text-muted bg-transparent p-0">
            <li class="breadcrumb-item"><a href="{{ pathPrefix }}index.html">Home</a></li>
            <li class="breadcrumb-item">{{ section.title }}</li>
        </ul>
    </nav>

    <div class="mb-4">
        <h1 class="h2 mb-2">{{ section.title }} <small class="text-muted">{{ section.count }}</small></h1>
    </div>

    <div class="icongrid">
        {% for icon in section.icons %}
            <a class="icongrid-item bg-light" data-search="{{ icon.identifier }}" href="{{ pathPrefix }}icons/{{ section.folder }}/{{ icon.identifier }}.html" title="{{ icon.identifier }}">
                <span class="icon icon-size-default icon-state-default{% if section.rendering.spinning %} icon-spin{% endif %}">
                    {% if not section.rendering.overlay %}
                        <span class="icon-markup">
                            {% include '_symbol.html.twig' with { icon: icon } %}
                        </span>
                    {% else %}
                        <span class="icon-markup">
                            <img src="{{ pathPrefix }}assets/icons/apps/apps-pagetree-page.svg">
                        </span>
                        <span class="icon-overlay">
                            {% include '_symbol.html.twig' with { icon: icon } %}
                        </span>
                    {% endif %}
                </span>
            </a>
        {% endfor %}
    </div>

{% endblock %}
